<div class="jumbotron">
  <h1>Web Scraping API</h1>
  <p class="lead">
    This Web API is meant to help scrape websites in different depths
    Just put in the URL of the desired site and an Integer representing how deep
    you want the service to scrape
  </p>
</div>
<div class="row">
  <div class="url-input">
    <label for="Text1">URL</label>
    <input id="Text1" type="text" />
  </div>
  <div class="depth-input">
    <label for="Text2">Depth</label>
    <input id="Text2" type="text" />
  </div>
  <div class="submit-button">
    <input id="Submit1" type="submit" value="Scrape" />
  </div>
</div>